# yaml-language-server: $schema=./values.schema.json

global:
  domain: c-178ca79.kyma.ondemand.com
  imagePullSecret:
    name: docker-registry
  image:
    registry: docker.io
    tag: latest
srv:
  bindings:
    auth:
      serviceInstanceName: xsuaa
    db:
      serviceInstanceName: hana
    destination:
      serviceInstanceName: destination
  image:
    repository: kyma-cap-srv
  resources:
    limits:
      ephemeral-storage: 1G
      memory: 500M
    requests:
      ephemeral-storage: 1G
      cpu: 500m
      memory: 500M
  health:
    liveness:
      path: /health
    readiness:
      path: /health
xsuaa:
  serviceOfferingName: xsuaa
  servicePlanName: application
  parameters:
    tenant-mode: dedicated
    oauth2-configuration:
      redirect-uris:
        - https://*.{{ tpl .Values.global.domain . }}/**
    xsappname: kyma-cap-{{ .Release.Namespace }}
hana-deployer:
  image:
    repository: kyma-cap-hana-deployer
  bindings:
    hana:
      serviceInstanceName: hana
  resources:
    limits:
      cpu: 500m #changed from 2000m to 500m
      memory: 1G
    requests:
      cpu: 1000m
      memory: 256M #changed from 1G to 256M
hana:
  serviceOfferingName: hana
  servicePlanName: hdi-shared
destination:
  serviceOfferingName: destination
  servicePlanName: lite
  parameters:
    version: 1.0.0
